.ahsoka {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }
  
  .ahsoka_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }
  
  .ahsoka_background img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .ahsoka_image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 34%;
    height: 55%;
    padding: 0 1rem;
  }
  
  .ahsoka_image img {
    display: inline-block;
    width: 150px;
    height: 200px;
    object-fit: cover;
  }
  
  .ahsoka_title {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-left: -200px;
    width: 66%;
    height: 130%;
    padding: 0 1rem;
    color: aliceblue;
  }
  
  .ahsoka_title h1 {
    margin-right: 220px;
    font-weight: 500;
  }
  
  .ahsoka_info {
    display: flex;
    flex-direction: row; /* Set flex direction to row */
    align-items: center;
    margin-right: 180px;
  }
  
  .ahsoka_info h3 {
    margin: 0;
    margin-right: 2rem;
    font-size: 1.3rem;
  }
  
  .ahsoka_info .circle_icon {
      width: 6px;
      height: 30px;
      color: white; /* Example background color */
      border-radius: 50%;
      margin-right: 20px; /* Adjust as needed */
  }
  
  .ahsoka_extras {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  
  .video_button {
    margin-right: 10px;
  }
  
  .play_arrow_icon {
    color: blue;
    margin-bottom: 1px;
  }
  
  
  
  