.nav {
    background: linear-gradient(to right, purple,  red);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.nav img {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-left: 10px;
    margin-top: 25px;
}

.nav__search {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
}

.nav__search input {
    width: 33%;
    height: 30px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 1.1rem;
    outline: none;
    background-color: transparent;
    position: relative;
    padding-right: 40px;
    border: 2px solid rgb(201, 180, 180);
    margin-right: 100px;
}

.nav__search button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 750px;
    top: 30%;
    transform: translateY(-50%);
}

.nav__links {
    margin: 0;
    width: 100%;
    margin-top: 70px;
    margin-left: 150px;
    text-align: center;
    margin-top: 10px;
}

.nav__links a {
    margin-right: 80px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.nav__links a:hover {
    color: rgb(201, 180, 180);
}

.nav__login {
    margin: 0;
    width: 100%;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 40%;
}

.nav__login a {
    margin-right: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}